POSTGRES_DB=examflow
POSTGRES_USER=examflow
POSTGRES_PASSWORD=examflow_local_123

JWT_ACCESS_SECRET=examflow-local-docker-jwt-access-secret-0123456789-abcdefghijklmnopqrstuvwxyz

SEED_ADMIN_PASSWORD=Admin123!
SEED_LECTURER_PASSWORD=Lecturer123!
SEED_STUDENT_PASSWORD=Student123!