PORT=4000
CLIENT_URL=http://localhost:5173
NODE_ENV=development

DATABASE_URL="postgresql://neondb_owner:npg_Tv15FxCkPwEf@ep-round-pond-awf3kp1o-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_Tv15FxCkPwEf@ep-round-pond-awf3kp1o.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

SEED_ADMIN_PASSWORD="CHANGE_ME"
SEED_LECTURER_PASSWORD="CHANGE_ME"
SEED_STUDENT_PASSWORD="CHANGE_ME"